<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<header>
		<a href="/pattern">Home</a>
		<a href="/pattern/add">Addition Program</a>

<a href="/pattern/fact">Factorial Program</a>

	</header>
	<section>
<form action="factlogic" method="get">
<input type="text" name="txtnum1" placeholder="Enter Number to calculate factorial" value="{{res1}}" />
<br>
<br>
<input type="submit" name="btnsubmit" value="Calc"/>
</form>
{{res}}
</section>
<footer>
</footer>
</body>
</html>